<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.icp.db.dao.DomainInfoDao">
    <resultMap id="BaseResultMap" type="com.domain.icp.db.vo.BrainPowerOrder">
        <result column="punycode" jdbcType="VARCHAR" property="punycode"/>
        <result column="suffix" jdbcType="VARCHAR" property="suffix"/>
        <result column="order_date" jdbcType="VARCHAR" property="orderDate"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icp_no" jdbcType="VARCHAR" property="icpNo"/>
        <result column="icp_dl" jdbcType="INTEGER" property="icpDL"/>
        <result column="wx_status" jdbcType="INTEGER" property="wxStatus"/>
        <result column="qq_status" jdbcType="INTEGER" property="qqStatus"/>
        <result column="absmiddle" jdbcType="INTEGER" property="absmiddle"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="is_lead" jdbcType="INTEGER" property="isLead"/>
        <result column="auction_end_time" jdbcType="TIMESTAMP" property="auctionEndTime"/>
        <result column="auction_status" jdbcType="INTEGER" property="auctionStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        punycode, suffix,
        order_date,type,icp_no,icp_dl,wx_status,qq_status,absmiddle,order_status,price,is_lead,auction_end_time,auction_status,create_time,update_time
    </sql>


    <insert id="save" parameterType="com.domain.icp.db.vo.BrainPowerOrder">
        insert into brainpower_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="punycode != null">
                punycode,
            </if>
            <if test="suffix != null">
                suffix,
            </if>
            <if test="orderDate != null">
                order_date,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="icpNo != null">
                icp_no,
            </if>
            <if test="icpDL != null">
                icp_dl,
            </if>
            <if test="wxStatus != null">
                wx_status,
            </if>
            <if test="qqStatus != null">
                qq_status,
            </if>
            <if test="absmiddle != null">
                absmiddle,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="isLead != null">
                is_lead,
            </if>
            <if test="auctionEndTime != null">
                auction_end_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="punycode != null">
                #{punycode},
            </if>
            <if test="suffix != null">
                #{suffix},
            </if>
            <if test="orderDate != null">
                #{orderDate},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="icpNo != null">
                #{icpNo},
            </if>
            <if test="icpDL != null">
                #{icpDL},
            </if>
            <if test="wxStatus != null">
                #{wxStatus},
            </if>
            <if test="qqStatus != null">
                #{qqStatus},
            </if>
            <if test="absmiddle != null">
                #{absmiddle},
            </if>
            <if test="orderStatus != null">
                #{orderStatus},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="isLead != null">
                #{isLead},
            </if>
            <if test="auctionEndTime != null">
                #{auctionEndTime},
            </if>
            <if test="createTime != null">
               create_time = now();
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </trim>
    </insert>


    <select id="update" parameterType="com.domain.icp.db.vo.DomainInfo">
        update brainpower_order
        <set>

            <if test="icpNo != null">
                icp_no = #{icpNo},
            </if>
            <if test="icpDL != null">
                icp_no = #{icpDL},
            </if>
            <if test="wxStatus != null">
                wx_status = #{wxStatus},
            </if>
            <if test="qqStatus != null">
                qq_status = #{qqStatus},
            </if>
            <if test="absmiddle != null">
                absmiddle = #{absmiddle},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="isLead != null">
                is_lead = #{isLead},
            </if>
            <if test="auctionEndTime != null">
                auction_end_time = #{auctionEndTime},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where punycode = #{punycode} and order_date=#{orderDate}
    </select>

    <select id="findByPunycodeAndOrderDate" parameterType="com.domain.icp.db.vo.DomainInfo" resultType="com.domain.icp.db.vo.DomainInfo">
        select
        <include refid="Base_Column_List" />
        from
        brainpower_order
        where
         punycode = #{punycode} and order_date = #{orderDate}
    </select>
</mapper>